.objective_reseach .obj_box .icon_wrapp {
    width: auto;
    height: 80px;
}
.objective_reseach .obj_box h3 {
    font-size: 18px;
}
.objective_reseach .objective .obj_box {
    min-height:410px;
   
}
.executive_title{
color: white;
}