.MuiGrid-container .MuiGrid-root h3{
    font-weight: bolder;
}
.MuiGrid-container .MuiGrid-root:nth-child(1) .css-1qx0kfu-MuiPaper-root-MuiCard-root {
    color: rgb(6, 27, 100) ;
    background-color: rgb(209, 233, 252) ;    border-radius: 12px;
}
 

.MuiGrid-container .MuiGrid-root:nth-child(2) .css-1qx0kfu-MuiPaper-root-MuiCard-root {
    color: rgb(4, 41, 122);
    background-color: rgb(208, 242, 255) ;    border-radius: 12px;
    font-weight: 900;
}
.MuiGrid-container .MuiGrid-root:nth-child(3) .css-1qx0kfu-MuiPaper-root-MuiCard-root {
    color: rgb(122, 79, 1);
    background-color: rgb(255, 247, 205);    border-radius: 12px;
}
.MuiGrid-container .MuiGrid-root:nth-child(4) .css-1qx0kfu-MuiPaper-root-MuiCard-root {
    color: rgb(122, 12, 46);
    background-color: rgb(255, 231, 217);    border-radius: 12px;
}
h4.MuiTypography-root {
    font-weight: 500;
    font-size: 1.6rem;}
    header.MuiPaper-root,.css-1hawdz8{    background-color: rgb(249, 250, 251);}

    body:has(.css-10650aq), html:has(.css-10650aq)  {
        background-color: rgb(249, 250, 251);
      }
      .MuiPaper-root {
        background-color: rgb(255, 255, 255);
        border-bottom: 0;
        box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;   
         border-radius: 10px;
       
    }