@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

table {
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: bold;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}


/* Custom CSS
 * --------------------------------------- */
:root {
    --navy: #0d2764;
    /* --green: #0EC9AC;*/
    --green: #D80650;
    --light_navy: #011936;
    --gray: #828FA0;
    /*--blue: rgb(31,192,234);*/
    --blue: #b12333;
    --yellow: #F59D24;
}
/*******************************************/
body, html {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}
body{   overflow-y: scroll !important;}

/*font-family: 'Josefin Sans', sans-serif;*/
.section_title {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 70px;
}

    .section_title span {
        color: var(--green);
        background: linear-gradient( var(--green),var(--blue));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

.text_gradient {
    background: linear-gradient( var(--green),var(--blue));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.link_custom {
    display: inline-block;
    color: var(--green);
    position: relative;
    margin-top: 20px;
}

    .link_custom::after {
        content: "";
        width: 15px;
        height: 1.5px;
        background: var(--green);
        position: absolute;
        top: 50%;
        right: -25px;
        border-radius: 5px;
    }

    .link_custom::before {
        content: "";
        width: 15px;
        height: 1.5px;
        background: var(--green);
        top: 50%;
        position: absolute;
        left: -25px;
        border-radius: 5px;
    }

.btn_custom {
    background: linear-gradient(136.1deg, var(--blue) 1.84%,var(--green) 100%);
    color: #fff;
    border-radius: 50px;
    padding: 10px 0 10px 0px;
    border: 0;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 25px 0 0;
    position: relative;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 3px 24px rgb(0 0 0 / 10%);
    overflow: hidden;
    z-index: 1;
    width: 180px;
}

    .btn_custom::before {
        content: "";
        position: absolute;
        background-image: linear-gradient(136.1deg,var(--blue) 1.84%,var(--green) 100%);
        height: 100%;
        width: 0;
        left: 0;
        top: 0;
        transition: all .5s ease-in-out;
        z-index: -1;
        border-radius: 5px 5px 5px 5px;
    }

    .btn_custom:hover {
        color: white;
    }

        .btn_custom:hover::before {
            width: 100%;
        }

a {
    color: white;
    transition: 0.3s;
}

    a:hover {
        color: var(--green)
    }

/*#region menu*/
.topbar {
    width: 100%;
    background: var(--navy)
}

.logo {
    width: 100%;
    height: 90px;
    text-align: center
}

    .logo img {
        height: auto;
        width: auto;
        max-height: 100%;
        max-width: 100%;
        margin: auto;
    }


.navbar-nav a.nav-link {
    font-size: 15px;
    font-weight: 600;
    margin: 0 6px;
    position: relative;
    background: transparent;
    display: inline-block;
}

    .navbar-nav a.nav-link::after {
        content: '';
        position: absolute;
        z-index: 2;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: -1px;
        width: 0;
        height: 3px;
        background: transparent;
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out
    }

    .navbar-nav a.nav-link:hover::after {
        width: 100%;
        background: var(--yellow);
    }

.navbar-nav a.active {
    color: var(--yellow) !important;
}

.navbar-nav a.nav-link:hover {
    color: var(--yellow) !important;
}

.navbar-nav a.active::after {
    width: 100%;
    background: var(--yellow);
}

nav {
    background: transparent;
    padding: 0
}

.navbar-nav li a {
    color: white !important;
}

@media (min-width : 992px) {
    .offcanvas {
        visibility: visible;
        position: relative;
        background: none;
        border: none;
        justify-content: end;
        color: red;
    }

    .navbar-expand-lg .offcanvas .offcanvas-body {
        justify-content: flex-end;
    }
}

@media (min-width : 992px) and (max-width:1300px) {
    .search_form {
        display: none !important
    }

    .navbar-nav a.nav-link {
        font-size: 14px;
    }
}

@media (max-width : 992px) {
    .offcanvas {
        width: 250px !important;
    }

    .offcanvas-start-lg {
        top: 0;
        left: 0;
        border-right: 1px solid rgba(0, 0, 0, .2);
        transform: translateX(-100%);
    }

    .logo {
        width: 180px;
    }

    .topbar .navbar-nav a.nav-link {
        margin: 5px 6px;
    }

    .search_form {
        margin-top: 30px;
    }

    .offcanvas {
        background: var(--light_navy)
    }

    .topbar .btn {
        background: linear-gradient( var(--green),var(--blue));
        outline: none;
        border: none;
        box-shadow: none
    }

        .topbar .btn:focus {
            outline: none;
            border: none;
            box-shadow: none
        }
}
/*#region search*/
.search_form {
    display: flex;
    justify-content: center;
    position: relative
}

    .search_form input {
        border-radius: 8px;
        border: 0;
        color: var(--light_navy);
        padding: 10px 15px;
    }

        .search_form input:focus {
            box-shadow: none;
            border: 0;
            outline: none
        }

        .search_form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: var(--light_navy);
            opacity: 1; /* Firefox */
            font-weight: 500;
            font-size: 15px;
        }

        .search_form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: var(--light_navy);
            font-weight: 500;
            font-size: 15px;
        }

        .search_form input::-ms-input-placeholder { /* Microsoft Edge */
            color: var(--light_navy);
            font-weight: 500;
            font-size: 15px;
        }

    .search_form button {
        background: transparent;
        color: var(--light_navy);
        position: absolute;
        top: 5px;
        right: 5px;
        border: 0px;
    }

        .search_form button svg {
            width: 26px;
            height: 26px;
        }
/*#endregion search */
/*#endregion menu*/
/*#region footer*/
.footer {
    margin-top: 20px;
    background: var(--navy);
}

.menu_footer {
    border-bottom: 1px solid #6B7C9326;
    padding-bottom: 10px;
}

.footer p {
    display: block;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
    text-align: center;
    padding: 10px 0;
    font-weight: 300
}

/*#endregion footer*/

/*#region about_content*/
.about_content {
    width: 100%;
    background: #F8F9FF;
    padding:60px 0 80px 0;
}

.about_content_wrapp {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
/*.about_content .about_img {
    height: 500px;
    width: 60%;
    
}*/
/*.about_content .about_img img {
    width: auto;
    height: auto;
    max-height: 1000%;
    max-width: 100%;
    border-radius: 0px;
    transform: rotate(-10deg)
}*/

.col_left, .col_right {
    width: 50%;
}

.col_right {
    padding: 60px 100px;
}

.sub_title {
    font-weight: 700;
    font-size: 19px;
}

.about_content .section_title {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
    color: #0d2764
}

.about_content ul {
    color: var(--gray);
    text-align: left
}

    .about_content ul li {
        margin-bottom: 10px;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: start;
    }

        .about_content ul li .icon_wrapp {
            width: 23px;
            height: 30px;
            margin-right: 15px;
        }

        .about_content ul li svg {
            width: 23px;
            height: 23px;
            fill: var(--green);
        }

.about_content .about_content_desc {
    color: var(--gray);
    margin-bottom: 30px;
}




@media screen and (max-width:768px) {
 

    .about_content_wrapp {
        flex-flow: wrap;
        padding: 30px 0 30px 0;
    }

    .about_content .about_img {
        width: 100%;
        height: 320px;
        margin:40px auto 0;
        display: block;
        text-align: center;
    }
        .about_content .about_img img {
            width: auto;
            height: auto;
            max-height: 100%;
            max-width: 100%;
            border-radius: 0px;
            transform: unset;
        }
}

@media screen and (min-width:768px) {

    .about_content .about_img {
        width: 100%;
        height: 450px;
        margin: auto;
        display: block;
        text-align: center;
    }
        .about_content .about_img img {
            width: auto;
            height: auto;
            max-height: 100%;
            max-width: 100%;
            border-radius: 0px;
            transform: rotate(-10deg);
        }

}
/*#endregion about_content*/
/*#region objective*/
.objective {
    padding: 70px 0 70px 0;
    color: white;
}

.obj_box {
    background: var(--navy);
    padding: 38px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
    transition: 0.3s;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

    .obj_box .box_title {
        text-align: center;
        margin-bottom: 12px;
    }

    .obj_box .icon_wrapp {
        width: 60px;
        margin: 10px auto 25px;
    }

        .obj_box .icon_wrapp img {
            width: auto;
            height: auto;
            max-height: 100%;
            max-width: 100%;
        }

    .obj_box h3 {
        font-size: 16px;
        font-weight: 700;
        line-height: 25px;
    }

    .obj_box p {
        color: var(--gray);
        font-size: 14px;
    }

    .obj_box a {
        color: #fff;
        display: block;
        margin-top: 20px;
        font-size: 12.8px;
        font-weight: 700;
        letter-spacing: 1px;
    }

        .obj_box a span svg {
            width: 25px;
            height: 25px;
            margin-left: -3px;
        }
/*#endregion objective*/
/*#region network*/
.network {
    padding-bottom: 70px;
    padding-top: 70px;
}

    .network .carousel-inner {
        min-height: 250px;
    }

    .network .carousel-control-prev, .network .carousel-control-next {
        width: 40px;
        height: 40px;
        background: linear-gradient(136.1deg, var(--blue) 1.84%,var(--green) 100%);
        border-radius: 50%;
        top: 40%;
        opacity: 1;
    }


.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 1.2rem;
    height: 1.2rem;
}

.network .carousel-indicators [data-bs-target] {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    border: 0;
}

.network .carousel-indicators .active {
    opacity: 1;
    border: 0;
    background: linear-gradient( var(--green),var(--blue));
}



.network .section_title {
    margin-bottom: 65px;
}

.network_box {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 15px 0;
}

    .network_box a {
        transition: 0.3s;
    }

.network_img_wrapp {
    width: 90px;
    height: 90px;
    margin: auto;
}

.network_box a img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.network_box a:hover h2 {
    color: var(--yellow)
}

.network_box h2 {
    font-weight: 600;
    width: 150px;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    margin-top: 18px;
}

@media screen and (min-width:300px) {
    .network .carousel-control-prev {
        left: 20px;
    }

    .network .carousel-control-next {
        right: 20px;
    }

    .carousel-indicators {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .network .carousel-control-prev {
        left: -36px;
    }

    .network .carousel-control-next {
        right: -36px;
    }
}
/*#endregion network*/
